RewriteEngine On

# Usunięcie rozszerzenia .php, ale tylko jeśli plik istnieje
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L]

# Pozwól, aby URL bez rozszerzenia .php został przetworzony prawidłowo
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# /
RewriteRule ^$ index.php?page=home [L,QSA]

# pages
RewriteRule ^(home|tv-shows|movies|recently-added)$ index.php?page=$1 [L,QSA]

# /search
RewriteRule ^search$ search.php [L,QSA]

# category/1
RewriteRule ^category/([0-9]+)$ index.php?page=category&id=$1 [L,QSA]

# entity/81
RewriteRule ^entity/([0-9]+)$ index.php?page=entity&id=$1 [L,QSA]

# watch/81
RewriteRule ^watch/([0-9]+)$ index.php?page=watch&id=$1 [L,QSA]


# Tüm diğer istekler için 404 hata sayfası
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ 404.php [L]